<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
            http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd"
       default-autowire="byName">


    <context:property-placeholder ignore-resource-not-found="false" location="classpath*:application-rabbit.properties" />

    <!-- spring-xml配置连接 -->
    <!--
        <rabbit:connection-factory
            id="connectionFactory"
            host="${spring.rabbitmq.host}"
            port="${spring.rabbitmq.port}"
            username="${spring.rabbitmq.username}"
            password="${spring.rabbitmq.password}"
            virtual-host="${spring.rabbitmq.virtual-host}"
            channel-cache-size="${spring.rabbitmq.cache.channel.size}"
            requested-heartbeat="${spring.rabbitmq.requested-heartbeat}"
        />
    -->
    <!--<rabbit:template id="amqpTemplate"  encoding="UTF-8" connection-factory="connectionFactory" />-->

    <rabbit:admin id="xmlAmqpAdmin" connection-factory="rabbitConnectionFactory"/>

    <rabbit:queue name="queue.xml-hello" declared-by="xmlAmqpAdmin" durable="true" auto-delete="false" exclusive="false" >
        <!--
        <rabbit:queue-arguments>
            <entry key="x-dead-letter-exchange" value="exchange.es.app_data_x@failed"/>
            <entry key="x-dead-letter-routing-key" value="routing.es.app_data_x@failed"/>
            <entry key="x-message-ttl" value="1000" value-type="java.lang.long"/>
        </rabbit:queue-arguments>
       -->
    </rabbit:queue>

    <rabbit:direct-exchange name="exchange.xml-hello" auto-declare="true" declared-by="xmlAmqpAdmin" durable="true" auto-delete="false" delayed="true">
        <rabbit:bindings>
            <rabbit:binding queue="queue.xml-hello" key="routing.xml-hello"/>
        </rabbit:bindings>
    </rabbit:direct-exchange>

    <rabbit:listener-container connection-factory="rabbitConnectionFactory" acknowledge="manual">
        <rabbit:listener queues="queue.xml-hello" ref="consumerListener"/>
    </rabbit:listener-container>

</beans>